

@media (orientation: portrait) {
  
  .card {
    top: 13vh;
    width: 100vw;
  }


  .welcome {
    top: 10vh;
    left: 3vh;
  }

  .me {
    top:  0vh;
  }

  .agrian {
    top:  4vh;
    left: 4vh;
  }


.main-content {
    width: 120vw;
    height: 80vh;
    position: absolute;
    top: 0vh;
    left: -15vw;
    z-index: -10000;
}

.black {
  width: 100vw;
  height: 20vh;
  background: black;
  position: fixed;
  bottom: 0vh;
}

.pilih {
  position: absolute;
  width: 100vw;
  height: 20vh;
  bottom: 4vh;
}


.card:hover {
    border:none;
}

.container {
    left: 20vw;
    top: 37vh;  
}


.container0 {
  position: absolute;
  top:  5vh;
}

ul a {
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 18px;
    text-decoration:none;
    width: 100%;
    position: relative;
}

.container-logo {
  top:  15vh;
  border: none;
  width: 100vw;
  height: 30vw;
  padding: 0;
}


.js-angle-slider__list {
  top:  0;
}

.js-angle-slider__body {
  position: absolute;
  top: 70vh;
  right: 0;
  width: 100vw  ;
}

.logo {
  top: 3vh;
  left: 2vw;
  width: 15vw;
  height: 15vw;
}

.text {
  display: none;
}

.text1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 15%;
    display: flex;
}

.img-2 {
  border: 0.5px solid white;
  z-index: 1;

}



.welcome-a {
  display: none;
}

.welcome-b {
  display: none;
}


.nav-desktop {
  display: none;
}

.logo-nav {
  display: flex;
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 0%;
}

.text-nav {
  display: flex;
  position: absolute;
  color: white;
  bottom: 3%;
  height: auto;
  font-family: candara;
  text-align: center;
}

.lightbox-mobile {
  z-index: 19;
  background: rgba(0, 0, 0, 0.5);
}

.lightbox {
  background: rgba(0, 0, 0, 0.8);
}

.ul-nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.icon-nav {
  width: 15vw;
  position: absolute;
  height: 15vw;
  right: -4vw;
  z-index: 190;
  top: 3vh;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: 0.5s;
}

.icon-nav:hover {
  transform: rotateZ(90deg);
}

.nav-icon {
  width: 50%;
  height: 50%;
}

.c1, .c2, .c3 {
  position: relative;
  width: 100%;
  height: 10%;
  background: white;
}

.c1 {
  top:  0%;
}

.c2 {
  top:  30%;
}


.c3 {
  top:  60%;
}

.nav-mobile {
  width: 100vw;
  height: 80vh;
  position: absolute;
  box-shadow: 10vw 0 30px rgba(250, 250, 200, 0.4);
  border-top-left-radius: 140vw;
  border-top-right-radius: 140vw;
  top: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 21 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: 0.4s;
}

.welcome2 {
  display: inline;
  color: white;
  position: absolute;
}

.img-feeds {
  
} 

.feeds-home {
  width: 50vw;
}

.img-crea {
    height: 30vw;
     border: 3px solid white;
     border-radius: 20px;
    width: 30vw;
    margin-top: 60%;
}

.btn-design {
  scale:  0.7;
  bottom: 3vh;
  border: none;
  left: 10vw;
  z-index: 10;
  text-align: center;
  display: none;
  padding: 1vh 0vw;
}

.btn-close-popup {
  position: absolute;
  box-sizing: border-box;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 13vh;
  right: 5vw;
}

.about {

}

.about-content {
  flex-direction: column;
  top: 20vh;
  position: absolute;
}


.logo-about {
  top:  10vw;
  width: 30vw;
  height: 30vw;
  left:  25vw;
}

.text-about {
  margin-top: 0vh;
}


.contact {
    scale: 0.6;
    position: absolute;
    bottom: -5vh;
    width: 20vw;
    left: 15vw;
}

}

