    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
      width: 30vw;
    }

    .swiper-slide {
    }

    .swiper-slide img {
      border: 0.5px solid white;
    }

    .swiper-slide img:hover {
    box-shadow: 3px 3px 9px rgba(250, 270, 200, 0.4);
      
    }